<form id="spec_form">
    <div id="no_spec">
        <div class="layui-form-item">
            <label class="layui-form-label">销售价：</label>
            <div class="layui-input-inline">
                <input type="text" name="goods[price]" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成本价：</label>
            <div class="layui-input-inline">
                <input type="text" name="goods[costprice]" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">市场价：</label>
            <div class="layui-input-inline">
                <input type="text" name="goods[mktprice]" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">货号：</label>
            <div class="layui-input-inline">
                <input type="text" name="goods[sn]" lay-verify="title" autocomplete="off" placeholder="请输入货号"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">库存：</label>
            <div class="layui-input-inline">
                <input type="text" name="goods[stock]" lay-verify="title" autocomplete="off" placeholder="请输入商品库存"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label">多级价格：</div>
            <div class="layui-input-block">{include file="../application/manage/view/goods/goodsPriceLevels.html"}</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label">关联产品：</div>
            <div class="layui-input-block">{include file="../application/manage/view/goods/goodsSelector.html"}</div>
        </div>
    </div>
</form>

<script>
    layui.use('form', function () {
        layui.form.render();
    });
</script>
