<div class="goods-price-level-template">
    <div class="add-level-btn">
        <button type = "button" class="layui-btn layui-btn-sm add-price-level">
            <i class="layui-icon">&#xe608;</i>添加梯度价格
        </button>
    </div>
    <table id="priceLevels" class="layui-table">
    </table>
</div>
<script type="text/javascript">
    var areas = (<?php echo $areas;?>);
    var levels = (<?php echo $levels?>);

    $(function () {

        layui.use('table', function () {
            var table = layui.table;

            var tableRender = table.render({
                elem: '#priceLevels'
                ,height: 312
                ,width: 736
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'area', title: '区域', merge: true, width: 164, templet: function (data) {

                            var options = `<option value="">不限地区</option>`;
                            areas.forEach(function (area) {
                                options += `<option value="${area['name']}" ${data['area'] === area['name'] ? 'selected' : ''}>${area["name"]}</option>`;
                            })
                            return `<select style="height: 124px; overflow: auto;" name="levels[${data['LAY_TABLE_INDEX']}][area]" data-index = "${data['LAY_TABLE_INDEX']}" data-key = "area">${options}</select>`;
                        }}
                    ,{field: 'name', title: '规格',  width: 164, templet: function (data, index) {
                        console.log(data, index);
                            return `<input name="levels[${data['LAY_TABLE_INDEX']}][name]" type="text" class="level-input spec-name-input layui-input" value="${data['name']}" data-index = "${data['LAY_TABLE_INDEX']}"
                                data-key = "name"/>`;
                        }}
                    ,{field: 'goods_num', title: '产品数量', width:124, templet: function (data) {
                                return `<input name="levels[${data['LAY_TABLE_INDEX']}][buy_num]" type="number" class="spec-name-input layui-input" value="${data['buy_num']}"/>`;
                            }}
                    ,{field: 'price', title: '产品价格', width: 124, templet: function (data) {
                                return `<input name="levels[${data['LAY_TABLE_INDEX']}][price]" type="number" placeholder="￥" autocomplete="off"  class="spec-name-input layui-input" value="${data['price']}"/>`;
                            }}
                    ,{field: 'level', title: '梯度', width: 80, templet: function (data) {
                                return `<input name="levels[${data['LAY_TABLE_INDEX']}][level]" type = 'number' class="spec-name-input layui-input" value="${data['level']}"/>`;
                            }}
                    ,{field: 'opt', title: '操作', width: 80, templet: function (data) {return `<a class="delete-level layui-btn layui-btn-danger layui-btn-xs del-class" data-level = "${data['LAY_TABLE_INDEX']}">删除</a>`;}}
                ]]
                ,data: levels
                ,done(){
                    //tableMerge.render(this);
                }
            });
            $(document).off('click', '.add-price-level');
            $(document).on('click', '.add-price-level', function () {
                levels.push({
                    area: null,
                    name: '',
                    buy_num: '',
                    price: '',
                    level: ''
                });
                console.log('add level to levels array', levels);
                tableRender.reload({
                    data: levels
                });
            });
            $(document).off('click', '.delete-level');
            $(document).on('click', '.delete-level', function (e) {
                var level = parseInt($(this).attr('data-level'));
                layer.confirm('是否确定删除此梯度价格？', {
                        title: '提示',
                        btn: ['是', '否'] //按钮
                    }, function () {
                        levels.forEach(function (item, index) {

                            if(index === level) {
                                levels.splice(index, 1);
                            }
                            tableRender.reload({
                                data: levels
                            });
                        });
                        layer.closeAll();
                    }
                    , function () {
                        layer.closeAll();
                    }
                );

            });
            $(document).on( 'change', 'input.level-input', function () {
                var key = $(this).data('key');
                var index = $(this).data('index');
                levels[index][key] = $(this).val();
            })
        });
    });
</script>
<style>
    .goods-price-level-template .layui-table-cell{
        height: auto !important;
        line-height: inherit !important;
        overflow: initial !important;
    }

</style>