<style type="text/css">
    .layui-card-body {
        background-color: #fff;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #e6e6e6;
    }

    .layui-tab-card > .layui-tab-title {
        background-color: #f9f9f9;
        border-bottom: none;
    }

    .layui-tab-content {
        padding: 0;
    }

    .layui-table, .layui-table-view {
        margin: 0;
    }

    .layui-margin-10 {
        margin: 10px;
    }
</style>
<div class="layui-card-body">
    <div class="layui-tab layui-tab-card" lay-filter="goods-tab">
        <div class="layui-form seller-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">商品名称：</label>
                    <div class="layui-input-inline seller-inline-4">
                        <input id = "" type="text" name="name" lay-verify="title" placeholder="请输入商品名称" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-tab-content">
            <table id="goodsTable" lay-filter="test"></table>
        </div>
    </div>
</div>
<script>
    var table, window_box;
    layui.use(['form', 'layedit', 'upload', 'laydate', 'table', 'element'], function () {
        var upload = layui.upload;
        var element = layui.element;
        var filter = {};
        var relationGoods = JSON.parse('<?php echo $relationGoods ?: "[]";?>');
        table = layui.table.render({
            elem: '#goodsTable',
            height: 'full-310',
            cellMinWidth: '80',
            page: 'true',
            limit: '20',
            url: "{:url('Goods/goodsForRelation')}?_ajax=1&goods_id={$goodsId}",
            id: 'goodsTable',
            cols: [[
                {field: 'bn', width: 150, title: '产品编号'},
                {field: 'erp_goods_id', width: 150, title: 'ERP产品编号'},
                {
                    field: 'image', width: 100, title: '缩略图', align: 'center', templet: function (data) {
                        return '<a href="javascript:void(0);" onclick=viewImage("' + data.image + '")>' +
                            '<image style="max-width:30px;max-height:30px;" src="' + data.image + '"/></a>';
                    }
                },
                {field: 'name', title: '名称', align: 'center'},
                {
                    field: 'required', width: 150, title: '是否必须购买', templet: function (data) {
                        var value = false;
                        for (let i in relationGoods) {
                            if (relationGoods[i]['relation_goods_id'] === data['id'] && relationGoods[i]['required']) {
                                value = true;
                            }
                        }
                        return `<input type="checkbox" name="relations[${data['LAY_TABLE_INDEX']}][required]" value="1" lay-skin="switch" lay-text="是|否" lay-filter="required" ${ value ? 'checked' : '' }>`;
                    }
                },
                {
                    field: 'opt', width: 100, title: '关联操作', templet: function (data) {
                        var value = false;
                        for (let i in relationGoods) {
                            if (relationGoods[i]['relation_goods_id'] === data['id']) {
                                value = true;
                            }
                        }
                        return `<input type="checkbox" name="relations[${data['LAY_TABLE_INDEX']}][relation_goods_id]" value="${data['id']}" lay-skin="switch" lay-text="是|否" lay-filter="relation" ${ value ? 'checked' : '' }>`;
                    }
                }
            ]]
        });

    });


</script>

