<div class="goods-relation-goods-template">
    <div class="add-relation-goods-btn">
        <button type = "button" class="layui-btn layui-btn-sm add-price-level">
            <i class="layui-icon">&#xe608;</i>添加关联产品
        </button>
    </div>
    <table id="relationGoods" class="layui-table">
    </table>
</div>
<script type="text/javascript">
    var goods = (<?php echo $relationGoods?>);

    $(function () {

        layui.use('table', function () {
            var table = layui.table;

            var tableRender = table.render({
                elem: '#relationGoods'
                ,height: 312
                ,width: 736
                ,page: true //开启分页
                ,cols: [[]]
                ,data: goods
                ,done(){
                    //tableMerge.render(this);
                }
            });
            $(document).off('click', '.add-relation-goods');
            $(document).on('click', '.add-relation-goods', function () {
                tableRender.reload({
                    data: goods
                });
            });
            $(document).off('click', '.delete-relation-goods');
            $(document).on('click', '.delete-relation-goods', function (e) {
                var idx = parseInt($(this).attr('data-index'));
                layer.confirm('是否确定删除此梯度价格？', {
                        title: '提示',
                        btn: ['是', '否'] //按钮
                    }, function () {
                        goods.forEach(function (item, index) {

                            if(index === idx) {
                                goods.splice(index, 1);
                            }
                            tableRender.reload({
                                data: goods
                            });
                        });
                        layer.closeAll();
                    }
                    , function () {
                        layer.closeAll();
                    }
                );

            });
        });
    });
</script>
<style>


</style>