<style type="text/css">
    .layui-form-label {
        width: 100px;
    }
</style>
<div class="layui-form seller-alone-form" style="padding:10px">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 0;">
        <legend>收货人信息</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">订单号：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{$order.order_id}</div>
        </div>
        <input type="hidden" id="order_id" value="{$order.order_id}">

        <label class="layui-form-label">配送方式：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{$order.logistics_name}</div>
        </div>

        <label class="layui-form-label">配送费用：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{$order.cost_freight}</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品总重：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{$order.weight}</div>
        </div>

        <label class="layui-form-label">收货人姓名：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{$order.ship_name}</div>
        </div>

        <label class="layui-form-label">收货人电话：</label>
        <div class="layui-input-inline seller-inline-2">
            <div class="layui-form-mid">{$order.ship_mobile}</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">收货区域：</label>
        <div class="layui-input-inline seller-inline-3">
            <div class="layui-form-mid">{$order.ship_area_id}</div>
        </div>

        <label class="layui-form-label">详细收货地址：</label>
        <div class="layui-input-inline seller-inline-4">
            <div class="layui-form-mid">{$order.ship_address}</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">买家备注信息：</label>
        <div class="layui-input-inline seller-inline-6">
            <div class="layui-form-mid">{$order.memo}</div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>商品详情</legend>
    </fieldset>

    <table class="layui-table" lay-size="sm">
        <thead>
        <tr>
            <th>商品名称</th>
            <th>商品编码</th>
            <th>货品编码</th>
            <th>购买数量</th>
            <th>已发数量</th>
            <th>未发货数量</th>
        </tr>
        </thead>
        <tbody>
        {foreach $order.items as $key=>$vo}
        <tr>
            <td>{$vo.name}</td>
            <td>{$vo.bn}</td>
            <td>{$vo.sn}</td>
            <td>{$vo.nums}</td>
            <td>{if $vo.sendnums}{$vo.sendnums}{else /}0{/if}</td>
            <td>{$vo.nums-$vo.sendnums}<input type="hidden" data-id="{$vo.id}" class="order-ship-num"
                                              max="{$vo.nums-$vo.sendnums}" value="{$vo.nums-$vo.sendnums}" min="0">
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div class="layui-inline layadmin-flexible">
        <div style="margin-top: 12px">
            <button data-id="{$order.order_id}" class="layui-btn express-order-btn">商城发货</button>
            <button data-id = "{$order.order_id}" class="layui-btn">ERP发货</button>
        </div>
    </div>
    <!--<fieldset class="layui-elem-field layui-field-title">-->
        <!--<legend>物流信息</legend>-->
    <!--</fieldset>-->
    <!--<div class="express-orders list-box">-->
        <!--<div class="express-order list-item layui-card">-->
            <!--<div class="layui-card-header">-->
                <!--<div class="layui-form-label">快递单号：</div>-->
                <!--<div class="layui-form-label">快递公司：</div>-->
            <!--</div>-->
            <!--<table class="layui-table" lay-size="sm">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>商品名称</th>-->
                    <!--<th>商品编码</th>-->
                    <!--<th>货品编码</th>-->
                    <!--<th>发货数量</th>-->
                <!--</tr>-->
                <!--</thead>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->
</div>
<script>
    //渲染表单
    shipRender = null;
    layui.use('form', function () {
        var form = layui.form;
        shipRender = function () {
            form.render();
        };
        shipRender();

    });
</script>