<style>
    .layui-inline .layui-input-block{
        margin-left: 110px;
    }
</style>
<div class="layui-form coupon-search-form" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">优惠券名称：</label>
            <div class="layui-inline">
                <input id = "" type="text" name="search" lay-verify="title" placeholder="请输入商品名称" autocomplete="off"
                       class="layui-input">
                <button class="layui-btn layui-btn-sm coupon-search-btn" id="couponSearch" lay-submit lay-filter="coupon-search"><i
                        class="iconfont icon-shaixuan"></i>搜索
                </button>
            </div>
        </div>
    </div>
</div>
<div class="layui-form coupon-selected-form" style="margin-top: 20px;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <table id="sendCouponsTable" lay-filter="sendCouponsTable"></table>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline opt-btns">
            <button class="layui-btn layui-btn-normal cancel">取消</button>
            <button class="layui-btn layui-btn-normal ok">确定</button>
        </div>
    </div>
</div>
<script>
    //渲染表单
    layui.use('form', function() {
        var form = layui.form;
        form.render();
        var table = layui.table.render({
            elem: '#sendCouponsTable',
            // height: 'full-220',
            cellMinWidth: '80',
            page: 'true',
            limit: '20',
            url: "{:url('user/getCoupons')}?_ajax=1",
            id: 'userTable',
            cols: [[
                {type: 'numbers', fixed: 'left'},
                {field: 'name', 'title': '优惠券名称', width: 200},
                {field: 'number', title: '发放张数', width: 150, templet(coupon) {
                    return `<div class="layui-input-inline"><input type="number" name = "coupons[${coupon['id']}][number]" class="layui-input"/></div>`;
                    }}
            ]]
        });

    });
</script>
<style>
    .coupon-search-form {
        margin-top: 12px;
    }

    .coupon-search-form .layui-form-label{
        width: auto !important;
    }
    .coupon-search-form .layui-inline, .coupon-selected-form .layui-inline {
        display: flex;
    }

    .coupon-search-form .coupon-search-btn {
        height: 37px;
        width: 86px;
        margin-left: 10px;
    }
    .coupon-selected-form .opt-btns {
        width: 50%;
        margin: auto;
    }
    .coupon-selected-form .opt-btns button{
        margin: auto;
    }
</style>